@model IEnumerable<StudentManagement.Entities.Student>
@using X.PagedList.Mvc.Core; <!--import to get HTML Helper-->
@using X.PagedList;
<html lang="en">
<head>
    <title>Table 06</title>
    <meta charset="utf-8">
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min1.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/css/bootstrap.min1.css" rel="stylesheet" />
    <link href="~/css/style1.css" rel="stylesheet" />
</head>
<body>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-4">
                    <h2 class="heading-section">Students</h2>
                    <a asp-action="AddStudent">Add New Student</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-wrap">
                        <table class="table">
                            <thead class="thead-primary">
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.StudentName)</th>
                                    <th>@Html.DisplayNameFor(model => model.Class.ClassName)</th>
                                    <th>@Html.DisplayNameFor(model => model.Address)</th>
                                    <th>@Html.DisplayNameFor(model => model.PhoneNumber)</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr class="alert" role="alert">
                                        <td>
                                            @Html.DisplayFor(modelItem => item.StudentName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Class.ClassName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Address)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                                        </td>
                                        <td>
                                            <a asp-action="EditStudent" asp-route-id="@item.StudentID">Edit</a> |
                                            <a asp-action="DeleteStudent" asp-route-id="@item.StudentID">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        @Html.PagedListPager((IPagedList)Model, page => Url.Action("GetAllStudent", new { page = page }),
                        new X.PagedList.Web.Common.PagedListRenderOptions
                        {
                            DisplayItemSliceAndTotal = true,
                            ContainerDivClasses = new[] { "navigation" },
                            LiElementClasses = new[] { "page-item" },
                            PageClasses = new[] { "page-link" },
                         })
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>

</body>
</html>
